.container_index {
    text-align: center;
}
.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 10px 10px 10px;
    font-size: 1.2em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
